openapi: 3.0.1
info:
  contact:
    email: TraderAPI@Schwab.com
    name: Schwab Trader API team
  description: "Schwab Trader API access to Account, Order entry and User Preferences"
  title: Trader API - Account Access and User Preferences
  version: 1.0.0
servers:
- url: https://api.schwabapi.com/trader/v1
security:
- oauth:
  - read
  - write
tags:
- name: Accounts
- name: Orders
- name: Transactions
paths:
  /accounts/accountNumbers:
    get:
      description: "Account numbers in plain text cannot be used outside of headers\
        \ or request/response bodies. As the first step consumers must invoke this\
        \ service to retrieve the list of plain text/encrypted value pairs, and use\
        \ encrypted account values for all subsequent calls for any accountNumber\
        \ request."
      operationId: getAccountNumbers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountNumberHash'
                type: array
          description: "List of valid \\\"accounts\\\", matching the provided input\
            \ parameters."
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get list of account numbers and their encrypted values
      tags:
      - Accounts
  /accounts:
    get:
      description: All the linked account information for the user logged in. The\nbalances
        on these accounts are displayed by default however the positions\non these
        accounts will be displayed based on the \"positions\" flag.
      operationId: getAccounts
      parameters:
      - description: This allows one to determine which fields they want returned.
          Possible value in this String can be:\n<br><code>positions</code><br> Example:<br><code>fields=positions</code>
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: "List of valid \\\"accounts\\\", matching the provided input\
            \ parameters."
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get linked account(s) balances and positions for the logged in user.
      tags:
      - Accounts
  /accounts/{accountNumber}:
    get:
      description: Specific account information with balances and positions.\nThe
        balance information on these accounts is displayed by default but\nPositions
        will be returned based on the \"positions\" flag.
      operationId: getAccount
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: This allows one to determine\nwhich fields they want returned.
          Possible values in this String can be:\n<br><code>positions</code><br> Example:<br><code>fields=positions</code>
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: "A valid account, matching the provided input parameters"
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get a specific account balance and positions for the logged in user.
      tags:
      - Accounts
  /accounts/{accountNumber}/orders:
    get:
      description: All orders for a specific account. Orders retrieved can be filtered
        based on input parameters below. Maximum date range is 1 year.
      operationId: getOrdersByPathParam
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The max number of orders to retrieve. Default is 3000.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Specifies that no orders entered before this time should be returned.\nValid
          ISO-8601 formats are :<br> <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>  Example
          fromEnteredTime is '2024-03-29T00:00:00.000Z'.\n'toEnteredTime' must also
          be set.
        explode: true
        in: query
        name: fromEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no orders entered after this time should be returned.Valid\nISO-8601
          formats are :<br> <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.  Example toEnteredTime
          is '2024-04-28T23:59:59.000Z'.\n'fromEnteredTime' must also be set.
        explode: true
        in: query
        name: toEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that only orders of this status should be returned.
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/apiOrderStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: "A List of orders for the account, matching the provided input\
            \ parameters"
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get all orders for a specific account.
      tags:
      - Orders
    post:
      description: Place an order for a specific account.
      operationId: placeOrder
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
        description: The new Order Object.
        required: true
      responses:
        "201":
          content: {}
          description: Empty response body if an order was successfully placed/created.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
            Location:
              description: Link to the newly created order if order was successfully\ncreated.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Place order for a specific account.
      tags:
      - Orders
      x-codegen-request-body-name: body
  /accounts/{accountNumber}/orders/{orderId}:
    delete:
      description: Cancel a specific order for a specific account<br>
      operationId: cancelOrder
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the order being cancelled
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content: {}
          description: Empty response body if an order was successfully canceled.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Cancel an order for a specific account
      tags:
      - Orders
    get:
      description: "Get a specific order by its ID, for a specific account"
      operationId: getOrder
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the order being retrieved.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: "An order object, matching the input parameters"
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: "Get a specific order by its ID, for a specific account"
      tags:
      - Orders
    put:
      description: "Replace an existing order for an account. The existing order will\
        \ be replaced by the new               order. Once replaced, the old order\
        \ will be canceled and a new order will be created."
      operationId: replaceOrder
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the order being retrieved.
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
        description: The Order Object.
        required: true
      responses:
        "201":
          content: {}
          description: Empty response body if an order was successfully replaced/created.
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
            Location:
              description: Link to the newly created order if order was successfully\ncreated.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Replace order for a specific account
      tags:
      - Orders
      x-codegen-request-body-name: body
  /orders:
    get:
      description: Get all orders for all accounts<br>
      operationId: getOrdersByQueryParam
      parameters:
      - description: The max number of orders to retrieve. Default is 3000.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Specifies that no orders entered before this time should be returned.
          Valid ISO-8601 formats are-\nyyyy-MM-dd'T'HH:mm:ss.SSSZ Date must be within
          60 days from today's date.\n'toEnteredTime' must also be set.
        explode: true
        in: query
        name: fromEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no orders entered after this time should be returned.Valid
          ISO-8601 formats are -\nyyyy-MM-dd'T'HH:mm:ss.SSSZ. 'fromEnteredTime' must
          also be set.
        explode: true
        in: query
        name: toEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that only orders of this status should be returned.
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/apiOrderStatus'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Order'
                type: array
          description: "A List of orders for the specified account or if its not mentioned,\\\
            nfor all the linked accounts, matching the provided input parameters."
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get all orders for all accounts
      tags:
      - Orders
  /accounts/{accountNumber}/previewOrder:
    post:
      description: Preview an order for a specific account.
      operationId: previewOrder
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewOrder'
        description: The Order Object.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewOrder'
          description: "An order object, matching the input parameters"
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Preview order for a specific account. **Coming Soon**.
      tags:
      - Orders
  /accounts/{accountNumber}/transactions:
    get:
      description: All transactions for a specific account. Maximum number of transactions
        in response is 3000. Maximum date range is 1 year.
      operationId: getTransactionsByPathParam
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies that no transactions entered before this time should
          be returned.\nValid ISO-8601 formats are :<br> <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>
          .  Example start date is '2024-03-28T21:10:42.000Z'. The 'endDate' must
          also be set.
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no transactions entered after this time should
          be returned.Valid\nISO-8601 formats are :<br> <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          Example start date is '2024-05-10T21:10:42.000Z'.\nThe 'startDate' must
          also be set.
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: "It filters all the transaction activities based on the symbol\
          \ specified. <u>NOTE:</u> If there is any special character in the symbol,\
          \ please send th encoded value."
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
        style: form
      - description: Specifies that only transactions of this status should be returned.
        explode: true
        in: query
        name: types
        required: true
        schema:
          $ref: '#/components/schemas/TransactionType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: "A List of orders for the account, matching the provided input\\\
            nparameters"
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get all transactions information for a specific account.
      tags:
      - Transactions
  /accounts/{accountNumber}/transactions/{transactionId}:
    get:
      description: Get specific transaction information for a specific account
      operationId: getTransactionsById
      parameters:
      - description: The encrypted ID of the account
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the transaction being retrieved.
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: "A List of orders for the account, matching the provided input\
            \ parameters"
          headers:
            Schwab-Client-CorrelId:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get specific transaction information for a specific account
      tags:
      - Transactions
  /userPreference:
    get:
      description: Get user preference information for the logged in user.
      operationId: getUserPreference
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserPreference'
                type: array
          description: List of user preference values.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the validation problem with the
            request.
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating either authorization token is invalid
            or there are no accounts the caller is allowed to view or use for trading
            that are registered with the provided third party application
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the caller is forbidden from accessing
            this service
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating the resource is not found
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating there was an unexpected server
            error
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
          description: An error message indicating server has a temporary problem
            responding
          headers:
            Schwab-Client-CorrelID:
              $ref: '#/components/headers/Schwab-Client-CorrelId'
      summary: Get user preference information for the logged in user.
      tags:
      - UserPreference
components:
  headers:
    Schwab-Client-CorrelId:
      description: Correlation Id. Auto generated
      explode: false
      schema:
        type: string
      style: simple
  parameters:
    ThirdPartyId:
      description: The ID of the registered third party application
      example: 8e0744d6-c9c3-490e-9d00-2c62de9275f3
      explode: false
      in: header
      name: ThirdPartyId
      required: true
      schema:
        type: string
      style: simple
    Accept:
      description: application/json
      example: application/json
      explode: false
      in: header
      name: Accept
      required: true
      schema:
        type: string
      style: simple
    ContentType:
      description: application/json
      example: application/json
      explode: false
      in: header
      name: Content-Type
      required: true
      schema:
        type: string
      style: simple
    Schwab-Client-Channel:
      description: Channel name. e.g- GW
      example: GW
      explode: false
      in: header
      name: Schwab-Client-Channel
      required: true
      schema:
        type: string
      style: simple
    Schwab-Client-CorrelId:
      description: Correlation Id. Auto generated
      example: e1a8f21f-c08c-4a3b-b721-3219e391c415
      explode: false
      in: header
      name: Schwab-Client-CorrelId
      required: false
      schema:
        type: string
      style: simple
    Schwab-Resource-Version:
      description: version. e.g- 1.0
      explode: false
      in: header
      name: Schwab-Resource-Version
      required: false
      schema:
        type: string
      style: simple
    Schwab-Client-AppId:
      description: schwab appId. e.g- AD00007919
      example: AD00007919
      explode: false
      in: header
      name: Schwab-Client-AppId
      required: true
      schema:
        type: string
      style: simple
    Schwab-RRBus-PilotRollout:
      explode: false
      in: header
      name: Schwab-RRBus-PilotRollout
      required: true
      schema:
        example: Region=TUP
        type: string
      style: simple
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
      description: An error message indicating the validation problem with the request.
      headers:
        Schwab-Client-CorrelID:
          $ref: '#/components/headers/Schwab-Client-CorrelId'
    NotAuthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
      description: An error message indicating either authorization token is invalid
        or there are no accounts the caller is allowed to view or use for trading
        that are registered with the provided third party application
      headers:
        Schwab-Client-CorrelID:
          $ref: '#/components/headers/Schwab-Client-CorrelId'
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
      description: An error message indicating the caller is forbidden from accessing
        this service
      headers:
        Schwab-Client-CorrelID:
          $ref: '#/components/headers/Schwab-Client-CorrelId'
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
      description: An error message indicating the resource is not found
      headers:
        Schwab-Client-CorrelID:
          $ref: '#/components/headers/Schwab-Client-CorrelId'
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
      description: An error message indicating there was an unexpected server error
      headers:
        Schwab-Client-CorrelID:
          $ref: '#/components/headers/Schwab-Client-CorrelId'
    ServiceUnavailable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
      description: An error message indicating server has a temporary problem responding
      headers:
        Schwab-Client-CorrelID:
          $ref: '#/components/headers/Schwab-Client-CorrelId'
  schemas:
    AccountNumberHash:
      example:
        accountNumber: accountNumber
        hashValue: hashValue
      properties:
        accountNumber:
          type: string
        hashValue:
          type: string
      type: object
    session:
      enum:
      - NORMAL
      - AM
      - PM
      - SEAMLESS
      type: string
    duration:
      enum:
      - DAY
      - GOOD_TILL_CANCEL
      - FILL_OR_KILL
      - IMMEDIATE_OR_CANCEL
      - END_OF_WEEK
      - END_OF_MONTH
      - NEXT_END_OF_MONTH
      - UNKNOWN
      type: string
    orderType:
      enum:
      - MARKET
      - LIMIT
      - STOP
      - STOP_LIMIT
      - TRAILING_STOP
      - CABINET
      - NON_MARKETABLE
      - MARKET_ON_CLOSE
      - EXERCISE
      - TRAILING_STOP_LIMIT
      - NET_DEBIT
      - NET_CREDIT
      - NET_ZERO
      - LIMIT_ON_CLOSE
      - UNKNOWN
      type: string
    orderTypeRequest:
      description: "Same as orderType, but does not have UNKNOWN since this type is\
        \ not allowed as an input"
      enum:
      - MARKET
      - LIMIT
      - STOP
      - STOP_LIMIT
      - TRAILING_STOP
      - CABINET
      - NON_MARKETABLE
      - MARKET_ON_CLOSE
      - EXERCISE
      - TRAILING_STOP_LIMIT
      - NET_DEBIT
      - NET_CREDIT
      - NET_ZERO
      - LIMIT_ON_CLOSE
      type: string
    complexOrderStrategyType:
      enum:
      - NONE
      - COVERED
      - VERTICAL
      - BACK_RATIO
      - CALENDAR
      - DIAGONAL
      - STRADDLE
      - STRANGLE
      - COLLAR_SYNTHETIC
      - BUTTERFLY
      - CONDOR
      - IRON_CONDOR
      - VERTICAL_ROLL
      - COLLAR_WITH_STOCK
      - DOUBLE_DIAGONAL
      - UNBALANCED_BUTTERFLY
      - UNBALANCED_CONDOR
      - UNBALANCED_IRON_CONDOR
      - UNBALANCED_VERTICAL_ROLL
      - MUTUAL_FUND_SWAP
      - CUSTOM
      type: string
    requestedDestination:
      enum:
      - INET
      - ECN_ARCA
      - CBOE
      - AMEX
      - PHLX
      - ISE
      - BOX
      - NYSE
      - NASDAQ
      - BATS
      - C2
      - AUTO
      type: string
    stopPriceLinkBasis:
      enum:
      - MANUAL
      - BASE
      - TRIGGER
      - LAST
      - BID
      - ASK
      - ASK_BID
      - MARK
      - AVERAGE
      type: string
    stopPriceLinkType:
      enum:
      - VALUE
      - PERCENT
      - TICK
      type: string
    stopPriceOffset:
      format: double
      type: number
    stopType:
      enum:
      - STANDARD
      - BID
      - ASK
      - LAST
      - MARK
      type: string
    priceLinkBasis:
      enum:
      - MANUAL
      - BASE
      - TRIGGER
      - LAST
      - BID
      - ASK
      - ASK_BID
      - MARK
      - AVERAGE
      type: string
    priceLinkType:
      enum:
      - VALUE
      - PERCENT
      - TICK
      type: string
    taxLotMethod:
      enum:
      - FIFO
      - LIFO
      - HIGH_COST
      - LOW_COST
      - AVERAGE_COST
      - SPECIFIC_LOT
      - LOSS_HARVESTER
      type: string
    specialInstruction:
      enum:
      - ALL_OR_NONE
      - DO_NOT_REDUCE
      - ALL_OR_NONE_DO_NOT_REDUCE
      type: string
    orderStrategyType:
      enum:
      - SINGLE
      - CANCEL
      - RECALL
      - PAIR
      - FLATTEN
      - TWO_DAY_SWAP
      - BLAST_ALL
      - OCO
      - TRIGGER
      type: string
    status:
      enum:
      - AWAITING_PARENT_ORDER
      - AWAITING_CONDITION
      - AWAITING_STOP_CONDITION
      - AWAITING_MANUAL_REVIEW
      - ACCEPTED
      - AWAITING_UR_OUT
      - PENDING_ACTIVATION
      - QUEUED
      - WORKING
      - REJECTED
      - PENDING_CANCEL
      - CANCELED
      - PENDING_REPLACE
      - REPLACED
      - FILLED
      - EXPIRED
      - NEW
      - AWAITING_RELEASE_TIME
      - PENDING_ACKNOWLEDGEMENT
      - PENDING_RECALL
      - UNKNOWN
      type: string
    amountIndicator:
      enum:
      - DOLLARS
      - SHARES
      - ALL_SHARES
      - PERCENTAGE
      - UNKNOWN
      type: string
    settlementInstruction:
      enum:
      - REGULAR
      - CASH
      - NEXT_DAY
      - UNKNOWN
      type: string
    OrderStrategy:
      example:
        remainingQuantity: 4.145608029883936
        discretionary: true
        orderType: MARKET
        orderStrategyType: SINGLE
        quantity: 2.027123023002322
        session: NORMAL
        settlementInstruction: REGULAR
        orderVersion: 2.3021358869347655
        accountNumber: accountNumber
        filledQuantity: 7.061401241503109
        orderValue: 9.301444243932576
        enteredTime: 2000-01-23T04:56:07.000+00:00
        advancedOrderType: NONE
        duration: DAY
        allOrNone: true
        sellNonMarginableFirst: true
        price: 3.616076749251911
        orderLegs:
        - askPrice: 7.386281948385884
          projectedCommission: 6.84685269835264
          markPrice: 1.4894159098541704
          quantity: 7.457744773683766
          instruction: BUY
          legId: 1.1730742509559433
          finalSymbol: finalSymbol
          bidPrice: 1.2315135367772556
          lastPrice: 1.0246457001441578
          assetType: EQUITY
        - askPrice: 7.386281948385884
          projectedCommission: 6.84685269835264
          markPrice: 1.4894159098541704
          quantity: 7.457744773683766
          instruction: BUY
          legId: 1.1730742509559433
          finalSymbol: finalSymbol
          bidPrice: 1.2315135367772556
          lastPrice: 1.0246457001441578
          assetType: EQUITY
        amountIndicator: DOLLARS
        closeTime: 2000-01-23T04:56:07.000+00:00
        orderBalance:
          projectedCommission: 5.637376656633329
          projectedAvailableFund: 1.4658129805029452
          projectedBuyingPower: 5.962133916683182
          orderValue: 6.027456183070403
        strategy: NONE
        status: AWAITING_PARENT_ORDER
      properties:
        accountNumber:
          type: string
        advancedOrderType:
          enum:
          - NONE
          - OTO
          - OCO
          - OTOCO
          - OT2OCO
          - OT3OCO
          - BLAST_ALL
          - OTA
          - PAIR
          type: string
        closeTime:
          format: date-time
          type: string
        enteredTime:
          format: date-time
          type: string
        orderBalance:
          $ref: '#/components/schemas/OrderBalance'
        orderStrategyType:
          $ref: '#/components/schemas/orderStrategyType'
        orderVersion:
          type: number
        session:
          $ref: '#/components/schemas/session'
        status:
          $ref: '#/components/schemas/apiOrderStatus'
        allOrNone:
          type: boolean
        discretionary:
          type: boolean
        duration:
          $ref: '#/components/schemas/duration'
        filledQuantity:
          format: double
          type: number
        orderType:
          $ref: '#/components/schemas/orderType'
        orderValue:
          format: double
          type: number
        price:
          format: double
          type: number
        quantity:
          format: double
          type: number
        remainingQuantity:
          format: double
          type: number
        sellNonMarginableFirst:
          type: boolean
        settlementInstruction:
          $ref: '#/components/schemas/settlementInstruction'
        strategy:
          $ref: '#/components/schemas/complexOrderStrategyType'
        amountIndicator:
          $ref: '#/components/schemas/amountIndicator'
        orderLegs:
          items:
            $ref: '#/components/schemas/OrderLeg'
          type: array
          xml:
            name: orderLeg
            wrapped: true
      type: object
    OrderLeg:
      example:
        askPrice: 7.386281948385884
        projectedCommission: 6.84685269835264
        markPrice: 1.4894159098541704
        quantity: 7.457744773683766
        instruction: BUY
        legId: 1.1730742509559433
        finalSymbol: finalSymbol
        bidPrice: 1.2315135367772556
        lastPrice: 1.0246457001441578
        assetType: EQUITY
      properties:
        askPrice:
          format: double
          type: number
        bidPrice:
          format: double
          type: number
        lastPrice:
          format: double
          type: number
        markPrice:
          format: double
          type: number
        projectedCommission:
          format: double
          type: number
        quantity:
          format: double
          type: number
        finalSymbol:
          type: string
        legId:
          format: long
          type: number
        assetType:
          $ref: '#/components/schemas/assetType'
        instruction:
          $ref: '#/components/schemas/instruction'
      type: object
    OrderBalance:
      example:
        projectedCommission: 5.637376656633329
        projectedAvailableFund: 1.4658129805029452
        projectedBuyingPower: 5.962133916683182
        orderValue: 6.027456183070403
      properties:
        orderValue:
          format: double
          type: number
        projectedAvailableFund:
          format: double
          type: number
        projectedBuyingPower:
          format: double
          type: number
        projectedCommission:
          format: double
          type: number
      type: object
    OrderValidationResult:
      example:
        alerts:
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        rejects:
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        reviews:
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        accepts:
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        warns:
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
        - validationRuleName: validationRuleName
          originalSeverity: ACCEPT
          overrideSeverity: null
          overrideName: overrideName
          activityMessage: activityMessage
          message: message
      properties:
        alerts:
          items:
            $ref: '#/components/schemas/OrderValidationDetail'
          type: array
        accepts:
          items:
            $ref: '#/components/schemas/OrderValidationDetail'
          type: array
        rejects:
          items:
            $ref: '#/components/schemas/OrderValidationDetail'
          type: array
        reviews:
          items:
            $ref: '#/components/schemas/OrderValidationDetail'
          type: array
        warns:
          items:
            $ref: '#/components/schemas/OrderValidationDetail'
          type: array
      type: object
    OrderValidationDetail:
      example:
        validationRuleName: validationRuleName
        originalSeverity: ACCEPT
        overrideSeverity: null
        overrideName: overrideName
        activityMessage: activityMessage
        message: message
      properties:
        validationRuleName:
          type: string
        message:
          type: string
        activityMessage:
          type: string
        originalSeverity:
          $ref: '#/components/schemas/APIRuleAction'
        overrideName:
          type: string
        overrideSeverity:
          $ref: '#/components/schemas/APIRuleAction'
      type: object
    APIRuleAction:
      enum:
      - ACCEPT
      - ALERT
      - REJECT
      - REVIEW
      - UNKNOWN
      type: string
    CommissionAndFee:
      example:
        fee:
          feeLegs:
          - feeValues:
            - type: null
              value: 5.025004791520295
            - type: null
              value: 5.025004791520295
          - feeValues:
            - type: null
              value: 5.025004791520295
            - type: null
              value: 5.025004791520295
        commission:
          commissionLegs:
          - commissionValues:
            - type: COMMISSION
              value: 4.965218492984954
            - type: COMMISSION
              value: 4.965218492984954
          - commissionValues:
            - type: COMMISSION
              value: 4.965218492984954
            - type: COMMISSION
              value: 4.965218492984954
        trueCommission:
          commissionLegs:
          - commissionValues:
            - type: COMMISSION
              value: 4.965218492984954
            - type: COMMISSION
              value: 4.965218492984954
          - commissionValues:
            - type: COMMISSION
              value: 4.965218492984954
            - type: COMMISSION
              value: 4.965218492984954
      properties:
        commission:
          $ref: '#/components/schemas/Commission'
        fee:
          $ref: '#/components/schemas/Fees'
        trueCommission:
          $ref: '#/components/schemas/Commission'
      type: object
    Commission:
      example:
        commissionLegs:
        - commissionValues:
          - type: COMMISSION
            value: 4.965218492984954
          - type: COMMISSION
            value: 4.965218492984954
        - commissionValues:
          - type: COMMISSION
            value: 4.965218492984954
          - type: COMMISSION
            value: 4.965218492984954
      properties:
        commissionLegs:
          items:
            $ref: '#/components/schemas/CommissionLeg'
          type: array
      type: object
    CommissionLeg:
      example:
        commissionValues:
        - type: COMMISSION
          value: 4.965218492984954
        - type: COMMISSION
          value: 4.965218492984954
      properties:
        commissionValues:
          items:
            $ref: '#/components/schemas/CommissionValue'
          type: array
      type: object
    CommissionValue:
      example:
        type: COMMISSION
        value: 4.965218492984954
      properties:
        value:
          format: double
          type: number
        type:
          $ref: '#/components/schemas/FeeType'
      type: object
    Fees:
      example:
        feeLegs:
        - feeValues:
          - type: null
            value: 5.025004791520295
          - type: null
            value: 5.025004791520295
        - feeValues:
          - type: null
            value: 5.025004791520295
          - type: null
            value: 5.025004791520295
      properties:
        feeLegs:
          items:
            $ref: '#/components/schemas/FeeLeg'
          type: array
      type: object
    FeeLeg:
      example:
        feeValues:
        - type: null
          value: 5.025004791520295
        - type: null
          value: 5.025004791520295
      properties:
        feeValues:
          items:
            $ref: '#/components/schemas/FeeValue'
          type: array
      type: object
    FeeValue:
      example:
        type: null
        value: 5.025004791520295
      properties:
        value:
          format: double
          type: number
        type:
          $ref: '#/components/schemas/FeeType'
      type: object
    FeeType:
      enum:
      - COMMISSION
      - SEC_FEE
      - STR_FEE
      - R_FEE
      - CDSC_FEE
      - OPT_REG_FEE
      - ADDITIONAL_FEE
      - MISCELLANEOUS_FEE
      - FTT
      - FUTURES_CLEARING_FEE
      - FUTURES_DESK_OFFICE_FEE
      - FUTURES_EXCHANGE_FEE
      - FUTURES_GLOBEX_FEE
      - FUTURES_NFA_FEE
      - FUTURES_PIT_BROKERAGE_FEE
      - FUTURES_TRANSACTION_FEE
      - LOW_PROCEEDS_COMMISSION
      - BASE_CHARGE
      - GENERAL_CHARGE
      - GST_FEE
      - TAF_FEE
      - INDEX_OPTION_FEE
      - TEFRA_TAX
      - STATE_TAX
      - UNKNOWN
      type: string
    Account:
      example:
        securitiesAccount: ""
      properties:
        securitiesAccount:
          discriminator:
            mapping:
              MARGIN: '#/components/schemas/MarginAccount'
              CASH: '#/components/schemas/CashAccount'
            propertyName: type
      type: object
    DateParam:
      properties:
        date:
          description: Valid ISO-8601 format is :<br> <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>
          type: string
      type: object
    Order:
      example:
        remainingQuantity: 1.4658129805029452
        orderType: MARKET
        orderStrategyType: SINGLE
        releaseTime: 2000-01-23T04:56:07.000+00:00
        cancelable: false
        orderId: 2
        session: NORMAL
        stopPriceOffset: 5.637376656633329
        stopPriceLinkType: VALUE
        orderActivityCollection:
        - quantity: 7.386281948385884
          orderRemainingQuantity: 1.2315135367772556
          executionType: FILL
          activityType: EXECUTION
          executionLegs:
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
        - quantity: 7.386281948385884
          orderRemainingQuantity: 1.2315135367772556
          executionType: FILL
          activityType: EXECUTION
          executionLegs:
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
        filledQuantity: 6.027456183070403
        enteredTime: 2000-01-23T04:56:07.000+00:00
        duration: DAY
        stopPriceLinkBasis: MANUAL
        destinationLinkName: destinationLinkName
        price: 2.3021358869347655
        priceLinkType: VALUE
        closeTime: 2000-01-23T04:56:07.000+00:00
        tag: tag
        childOrderStrategies:
        - null
        - null
        orderLegCollection:
        - orderLegType: EQUITY
          quantityType: ALL_SHARES
          quantity: 9.301444243932576
          divCapGains: REINVEST
          instruction: BUY
          legId: 7
          toSymbol: toSymbol
          instrument: ""
          positionEffect: OPENING
        - orderLegType: EQUITY
          quantityType: ALL_SHARES
          quantity: 9.301444243932576
          divCapGains: REINVEST
          instruction: BUY
          legId: 7
          toSymbol: toSymbol
          instrument: ""
          positionEffect: OPENING
        quantity: 0.8008281904610115
        taxLotMethod: FIFO
        specialInstruction: ALL_OR_NONE
        editable: false
        stopType: STANDARD
        accountNumber: 4
        stopPrice: 5.962133916683182
        statusDescription: statusDescription
        priceLinkBasis: MANUAL
        requestedDestination: INET
        cancelTime: 2000-01-23T04:56:07.000+00:00
        activationPrice: 3.616076749251911
        replacingOrderCollection:
        - null
        - null
        complexOrderStrategyType: NONE
        status: AWAITING_PARENT_ORDER
      properties:
        session:
          $ref: '#/components/schemas/session'
        duration:
          $ref: '#/components/schemas/duration'
        orderType:
          $ref: '#/components/schemas/orderType'
        cancelTime:
          format: date-time
          type: string
        complexOrderStrategyType:
          $ref: '#/components/schemas/complexOrderStrategyType'
        quantity:
          format: double
          type: number
        filledQuantity:
          format: double
          type: number
        remainingQuantity:
          format: double
          type: number
        requestedDestination:
          $ref: '#/components/schemas/requestedDestination'
        destinationLinkName:
          type: string
        releaseTime:
          format: date-time
          type: string
        stopPrice:
          format: double
          type: number
        stopPriceLinkBasis:
          $ref: '#/components/schemas/stopPriceLinkBasis'
        stopPriceLinkType:
          $ref: '#/components/schemas/stopPriceLinkType'
        stopPriceOffset:
          format: double
          type: number
        stopType:
          $ref: '#/components/schemas/stopType'
        priceLinkBasis:
          $ref: '#/components/schemas/priceLinkBasis'
        priceLinkType:
          $ref: '#/components/schemas/priceLinkType'
        price:
          format: double
          type: number
        taxLotMethod:
          $ref: '#/components/schemas/taxLotMethod'
        orderLegCollection:
          items:
            $ref: '#/components/schemas/OrderLegCollection'
          type: array
          xml:
            name: orderLegCollection
            wrapped: true
        activationPrice:
          format: double
          type: number
        specialInstruction:
          $ref: '#/components/schemas/specialInstruction'
        orderStrategyType:
          $ref: '#/components/schemas/orderStrategyType'
        orderId:
          format: int64
          type: integer
        cancelable:
          default: false
          type: boolean
        editable:
          default: false
          type: boolean
        status:
          $ref: '#/components/schemas/status'
        enteredTime:
          format: date-time
          type: string
        closeTime:
          format: date-time
          type: string
        tag:
          type: string
        accountNumber:
          format: int64
          type: integer
        orderActivityCollection:
          items:
            $ref: '#/components/schemas/OrderActivity'
          type: array
          xml:
            name: orderActivity
            wrapped: true
        replacingOrderCollection:
          items:
            $ref: '#/components/schemas/Order'
          type: array
          xml:
            name: replacingOrder
            wrapped: true
        childOrderStrategies:
          items:
            $ref: '#/components/schemas/Order'
          type: array
          xml:
            name: childOrder
            wrapped: true
        statusDescription:
          type: string
      type: object
    OrderRequest:
      example:
        remainingQuantity: 1.4658129805029452
        orderType: MARKET
        orderStrategyType: SINGLE
        releaseTime: 2000-01-23T04:56:07.000+00:00
        cancelable: false
        orderId: 9
        session: NORMAL
        stopPriceOffset: 5.637376656633329
        stopPriceLinkType: VALUE
        orderActivityCollection:
        - quantity: 7.386281948385884
          orderRemainingQuantity: 1.2315135367772556
          executionType: FILL
          activityType: EXECUTION
          executionLegs:
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
        - quantity: 7.386281948385884
          orderRemainingQuantity: 1.2315135367772556
          executionType: FILL
          activityType: EXECUTION
          executionLegs:
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
          - quantity: 6.84685269835264
            price: 1.4894159098541704
            instrumentId: 1
            legId: 1
            mismarkedQuantity: 7.457744773683766
            time: 2000-01-23T04:56:07.000+00:00
        filledQuantity: 6.027456183070403
        enteredTime: 2000-01-23T04:56:07.000+00:00
        duration: DAY
        stopPriceLinkBasis: MANUAL
        destinationLinkName: destinationLinkName
        price: 2.3021358869347655
        priceLinkType: VALUE
        closeTime: 2000-01-23T04:56:07.000+00:00
        childOrderStrategies:
        - null
        - null
        orderLegCollection:
        - orderLegType: EQUITY
          quantityType: ALL_SHARES
          quantity: 9.301444243932576
          divCapGains: REINVEST
          instruction: BUY
          legId: 7
          toSymbol: toSymbol
          instrument: ""
          positionEffect: OPENING
        - orderLegType: EQUITY
          quantityType: ALL_SHARES
          quantity: 9.301444243932576
          divCapGains: REINVEST
          instruction: BUY
          legId: 7
          toSymbol: toSymbol
          instrument: ""
          positionEffect: OPENING
        quantity: 0.8008281904610115
        taxLotMethod: FIFO
        specialInstruction: ALL_OR_NONE
        editable: false
        stopType: STANDARD
        accountNumber: 3
        stopPrice: 5.962133916683182
        statusDescription: statusDescription
        priceLinkBasis: MANUAL
        cancelTime: 2000-01-23T04:56:07.000+00:00
        activationPrice: 7.061401241503109
        replacingOrderCollection:
        - null
        - null
        complexOrderStrategyType: NONE
        status: AWAITING_PARENT_ORDER
      properties:
        session:
          $ref: '#/components/schemas/session'
        duration:
          $ref: '#/components/schemas/duration'
        orderType:
          $ref: '#/components/schemas/orderTypeRequest'
        cancelTime:
          format: date-time
          type: string
        complexOrderStrategyType:
          $ref: '#/components/schemas/complexOrderStrategyType'
        quantity:
          format: double
          type: number
        filledQuantity:
          format: double
          type: number
        remainingQuantity:
          format: double
          type: number
        destinationLinkName:
          type: string
        releaseTime:
          format: date-time
          type: string
        stopPrice:
          format: double
          type: number
        stopPriceLinkBasis:
          $ref: '#/components/schemas/stopPriceLinkBasis'
        stopPriceLinkType:
          $ref: '#/components/schemas/stopPriceLinkType'
        stopPriceOffset:
          format: double
          type: number
        stopType:
          $ref: '#/components/schemas/stopType'
        priceLinkBasis:
          $ref: '#/components/schemas/priceLinkBasis'
        priceLinkType:
          $ref: '#/components/schemas/priceLinkType'
        price:
          format: double
          type: number
        taxLotMethod:
          $ref: '#/components/schemas/taxLotMethod'
        orderLegCollection:
          items:
            $ref: '#/components/schemas/OrderLegCollection'
          type: array
          xml:
            name: orderLegCollection
            wrapped: true
        activationPrice:
          format: double
          type: number
        specialInstruction:
          $ref: '#/components/schemas/specialInstruction'
        orderStrategyType:
          $ref: '#/components/schemas/orderStrategyType'
        orderId:
          format: int64
          type: integer
        cancelable:
          default: false
          type: boolean
        editable:
          default: false
          type: boolean
        status:
          $ref: '#/components/schemas/status'
        enteredTime:
          format: date-time
          type: string
        closeTime:
          format: date-time
          type: string
        accountNumber:
          format: int64
          type: integer
        orderActivityCollection:
          items:
            $ref: '#/components/schemas/OrderActivity'
          type: array
          xml:
            name: orderActivity
            wrapped: true
        replacingOrderCollection:
          items:
            $ref: '#/components/schemas/OrderRequest'
          type: array
          xml:
            name: replacingOrder
            wrapped: true
        childOrderStrategies:
          items:
            $ref: '#/components/schemas/OrderRequest'
          type: array
          xml:
            name: childOrder
            wrapped: true
        statusDescription:
          type: string
      type: object
    PreviewOrder:
      example:
        orderId: 0
        orderValidationResult:
          alerts:
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          rejects:
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          reviews:
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          accepts:
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          warns:
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
          - validationRuleName: validationRuleName
            originalSeverity: ACCEPT
            overrideSeverity: null
            overrideName: overrideName
            activityMessage: activityMessage
            message: message
        commissionAndFee:
          fee:
            feeLegs:
            - feeValues:
              - type: null
                value: 5.025004791520295
              - type: null
                value: 5.025004791520295
            - feeValues:
              - type: null
                value: 5.025004791520295
              - type: null
                value: 5.025004791520295
          commission:
            commissionLegs:
            - commissionValues:
              - type: COMMISSION
                value: 4.965218492984954
              - type: COMMISSION
                value: 4.965218492984954
            - commissionValues:
              - type: COMMISSION
                value: 4.965218492984954
              - type: COMMISSION
                value: 4.965218492984954
          trueCommission:
            commissionLegs:
            - commissionValues:
              - type: COMMISSION
                value: 4.965218492984954
              - type: COMMISSION
                value: 4.965218492984954
            - commissionValues:
              - type: COMMISSION
                value: 4.965218492984954
              - type: COMMISSION
                value: 4.965218492984954
        orderStrategy:
          remainingQuantity: 4.145608029883936
          discretionary: true
          orderType: MARKET
          orderStrategyType: SINGLE
          quantity: 2.027123023002322
          session: NORMAL
          settlementInstruction: REGULAR
          orderVersion: 2.3021358869347655
          accountNumber: accountNumber
          filledQuantity: 7.061401241503109
          orderValue: 9.301444243932576
          enteredTime: 2000-01-23T04:56:07.000+00:00
          advancedOrderType: NONE
          duration: DAY
          allOrNone: true
          sellNonMarginableFirst: true
          price: 3.616076749251911
          orderLegs:
          - askPrice: 7.386281948385884
            projectedCommission: 6.84685269835264
            markPrice: 1.4894159098541704
            quantity: 7.457744773683766
            instruction: BUY
            legId: 1.1730742509559433
            finalSymbol: finalSymbol
            bidPrice: 1.2315135367772556
            lastPrice: 1.0246457001441578
            assetType: EQUITY
          - askPrice: 7.386281948385884
            projectedCommission: 6.84685269835264
            markPrice: 1.4894159098541704
            quantity: 7.457744773683766
            instruction: BUY
            legId: 1.1730742509559433
            finalSymbol: finalSymbol
            bidPrice: 1.2315135367772556
            lastPrice: 1.0246457001441578
            assetType: EQUITY
          amountIndicator: DOLLARS
          closeTime: 2000-01-23T04:56:07.000+00:00
          orderBalance:
            projectedCommission: 5.637376656633329
            projectedAvailableFund: 1.4658129805029452
            projectedBuyingPower: 5.962133916683182
            orderValue: 6.027456183070403
          strategy: NONE
          status: AWAITING_PARENT_ORDER
      properties:
        orderId:
          format: int64
          type: integer
        orderStrategy:
          $ref: '#/components/schemas/OrderStrategy'
        orderValidationResult:
          $ref: '#/components/schemas/OrderValidationResult'
        commissionAndFee:
          $ref: '#/components/schemas/CommissionAndFee'
      type: object
    OrderActivity:
      discriminator:
        propertyName: activityType
      example:
        quantity: 7.386281948385884
        orderRemainingQuantity: 1.2315135367772556
        executionType: FILL
        activityType: EXECUTION
        executionLegs:
        - quantity: 6.84685269835264
          price: 1.4894159098541704
          instrumentId: 1
          legId: 1
          mismarkedQuantity: 7.457744773683766
          time: 2000-01-23T04:56:07.000+00:00
        - quantity: 6.84685269835264
          price: 1.4894159098541704
          instrumentId: 1
          legId: 1
          mismarkedQuantity: 7.457744773683766
          time: 2000-01-23T04:56:07.000+00:00
      properties:
        activityType:
          enum:
          - EXECUTION
          - ORDER_ACTION
          type: string
        executionType:
          enum:
          - FILL
          type: string
        quantity:
          format: double
          type: number
        orderRemainingQuantity:
          format: double
          type: number
        executionLegs:
          items:
            $ref: '#/components/schemas/ExecutionLeg'
          type: array
          xml:
            name: executionLegs
            wrapped: true
      type: object
    ExecutionLeg:
      example:
        quantity: 6.84685269835264
        price: 1.4894159098541704
        instrumentId: 1
        legId: 1
        mismarkedQuantity: 7.457744773683766
        time: 2000-01-23T04:56:07.000+00:00
      properties:
        legId:
          format: int64
          type: integer
        price:
          format: double
          type: number
        quantity:
          format: double
          type: number
        mismarkedQuantity:
          format: double
          type: number
        instrumentId:
          format: int64
          type: integer
        time:
          format: date-time
          type: string
      type: object
    Position:
      properties:
        shortQuantity:
          format: double
          type: number
        averagePrice:
          format: double
          type: number
        currentDayProfitLoss:
          format: double
          type: number
        currentDayProfitLossPercentage:
          format: double
          type: number
        longQuantity:
          format: double
          type: number
        settledLongQuantity:
          format: double
          type: number
        settledShortQuantity:
          format: double
          type: number
        agedQuantity:
          format: double
          type: number
        instrument:
          discriminator:
            mapping:
              CASH_EQUIVALENT: '#/components/schemas/AccountCashEquivalent'
              EQUITY: '#/components/schemas/AccountEquity'
              FIXED_INCOME: '#/components/schemas/AccountFixedIncome'
              MUTUAL_FUND: '#/components/schemas/AccountMutualFund'
              OPTION: '#/components/schemas/AccountOption'
            propertyName: assetType
        marketValue:
          format: double
          type: number
        maintenanceRequirement:
          format: double
          type: number
        averageLongPrice:
          format: double
          type: number
        averageShortPrice:
          format: double
          type: number
        taxLotAverageLongPrice:
          format: double
          type: number
        taxLotAverageShortPrice:
          format: double
          type: number
        longOpenProfitLoss:
          format: double
          type: number
        shortOpenProfitLoss:
          format: double
          type: number
        previousSessionLongQuantity:
          format: double
          type: number
        previousSessionShortQuantity:
          format: double
          type: number
        currentDayCost:
          format: double
          type: number
      type: object
    ServiceError:
      example:
        message: message
        errors:
        - errors
        - errors
      properties:
        message:
          type: string
        errors:
          items:
            type: string
          type: array
      type: object
    OrderLegCollection:
      example:
        orderLegType: EQUITY
        quantityType: ALL_SHARES
        quantity: 9.301444243932576
        divCapGains: REINVEST
        instruction: BUY
        legId: 7
        toSymbol: toSymbol
        instrument: ""
        positionEffect: OPENING
      properties:
        orderLegType:
          enum:
          - EQUITY
          - OPTION
          - INDEX
          - MUTUAL_FUND
          - CASH_EQUIVALENT
          - FIXED_INCOME
          - CURRENCY
          - COLLECTIVE_INVESTMENT
          type: string
        legId:
          format: int64
          type: integer
        instrument:
          discriminator:
            mapping:
              CASH_EQUIVALENT: '#/components/schemas/AccountCashEquivalent'
              EQUITY: '#/components/schemas/AccountEquity'
              FIXED_INCOME: '#/components/schemas/AccountFixedIncome'
              MUTUAL_FUND: '#/components/schemas/AccountMutualFund'
              OPTION: '#/components/schemas/AccountOption'
            propertyName: assetType
        instruction:
          $ref: '#/components/schemas/instruction'
        positionEffect:
          enum:
          - OPENING
          - CLOSING
          - AUTOMATIC
          type: string
        quantity:
          format: double
          type: number
        quantityType:
          enum:
          - ALL_SHARES
          - DOLLARS
          - SHARES
          type: string
        divCapGains:
          enum:
          - REINVEST
          - PAYOUT
          type: string
        toSymbol:
          type: string
      type: object
    SecuritiesAccount:
      discriminator:
        mapping:
          MARGIN: '#/components/schemas/MarginAccount'
          CASH: '#/components/schemas/CashAccount'
        propertyName: type
    SecuritiesAccountBase:
      discriminator:
        propertyName: type
      properties:
        type:
          enum:
          - CASH
          - MARGIN
          type: string
        accountNumber:
          type: string
        roundTrips:
          format: int32
          type: integer
        isDayTrader:
          default: false
          type: boolean
        isClosingOnlyRestricted:
          default: false
          type: boolean
        pfcbFlag:
          default: false
          type: boolean
        positions:
          items:
            $ref: '#/components/schemas/Position'
          type: array
      type: object
    MarginAccount:
      allOf:
      - $ref: '#/components/schemas/SecuritiesAccountBase'
      properties:
        initialBalances:
          $ref: '#/components/schemas/MarginInitialBalance'
        currentBalances:
          $ref: '#/components/schemas/MarginBalance'
        projectedBalances:
          $ref: '#/components/schemas/MarginBalance'
    MarginInitialBalance:
      properties:
        accruedInterest:
          format: double
          type: number
        availableFundsNonMarginableTrade:
          format: double
          type: number
        bondValue:
          format: double
          type: number
        buyingPower:
          format: double
          type: number
        cashBalance:
          format: double
          type: number
        cashAvailableForTrading:
          format: double
          type: number
        cashReceipts:
          format: double
          type: number
        dayTradingBuyingPower:
          format: double
          type: number
        dayTradingBuyingPowerCall:
          format: double
          type: number
        dayTradingEquityCall:
          format: double
          type: number
        equity:
          format: double
          type: number
        equityPercentage:
          format: double
          type: number
        liquidationValue:
          format: double
          type: number
        longMarginValue:
          format: double
          type: number
        longOptionMarketValue:
          format: double
          type: number
        longStockValue:
          format: double
          type: number
        maintenanceCall:
          format: double
          type: number
        maintenanceRequirement:
          format: double
          type: number
        margin:
          format: double
          type: number
        marginEquity:
          format: double
          type: number
        moneyMarketFund:
          format: double
          type: number
        mutualFundValue:
          format: double
          type: number
        regTCall:
          format: double
          type: number
        shortMarginValue:
          format: double
          type: number
        shortOptionMarketValue:
          format: double
          type: number
        shortStockValue:
          format: double
          type: number
        totalCash:
          format: double
          type: number
        isInCall:
          format: double
          type: number
        unsettledCash:
          format: double
          type: number
        pendingDeposits:
          format: double
          type: number
        marginBalance:
          format: double
          type: number
        shortBalance:
          format: double
          type: number
        accountValue:
          format: double
          type: number
      type: object
    MarginBalance:
      properties:
        availableFunds:
          format: double
          type: number
        availableFundsNonMarginableTrade:
          format: double
          type: number
        buyingPower:
          format: double
          type: number
        buyingPowerNonMarginableTrade:
          format: double
          type: number
        dayTradingBuyingPower:
          format: double
          type: number
        dayTradingBuyingPowerCall:
          format: double
          type: number
        equity:
          format: double
          type: number
        equityPercentage:
          format: double
          type: number
        longMarginValue:
          format: double
          type: number
        maintenanceCall:
          format: double
          type: number
        maintenanceRequirement:
          format: double
          type: number
        marginBalance:
          format: double
          type: number
        regTCall:
          format: double
          type: number
        shortBalance:
          format: double
          type: number
        shortMarginValue:
          format: double
          type: number
        sma:
          format: double
          type: number
        isInCall:
          format: double
          type: number
        stockBuyingPower:
          format: double
          type: number
        optionBuyingPower:
          format: double
          type: number
      type: object
    CashAccount:
      allOf:
      - $ref: '#/components/schemas/SecuritiesAccountBase'
      properties:
        initialBalances:
          $ref: '#/components/schemas/CashInitialBalance'
        currentBalances:
          $ref: '#/components/schemas/CashBalance'
        projectedBalances:
          $ref: '#/components/schemas/CashBalance'
    CashInitialBalance:
      properties:
        accruedInterest:
          format: double
          type: number
        cashAvailableForTrading:
          format: double
          type: number
[...]
